<div class="flex justify-content-center flex-wrap mt-5">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Simple Stock</div>
            <span class="text-600 font-medium line-height-3">Bienvenido de nuevo</span>
        </div>
        <div>
            <form autocomplete="off"
                [formGroup]="loginForm"
                (submit)="login()">
                <!-- Email input-->
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email"
                    formControlName="email"    
                    type="text" pInputText class="w-full mb-3">
                <!-- Password input-->
                <label for="password" class="block text-900 font-medium mb-2">Password</label>
                <input id="password" 
                    formControlName="password"
                    type="password" pInputText class="w-full mb-3">
                <!-- Remenberme checkbox-->
                <div class="flex align-items-center justify-content-between mb-6">
                    <div class="flex align-items-center field-checkbox">
                        <p-checkbox inputId="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme1" class="text-900">Recuerdame</label>
                    </div>
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Olvido su password?</a>
                </div>
                <!-- Submit button-->
                <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>                    
            </form>
        </div>
    </div> 
</div>