<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton icon="pi pi-plus" (click)="addEvent(true)" class="p-button-sm p-button-success"
            label="Nuevo"></button>
    </div>
    
    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #inputSearch type="text" pInputText placeholder="Search..."
                (input)="table.filterGlobal( inputSearch.value, 'contains')" />
        </span>
   
    </div>
</p-toolbar>

<p-table #table [columns]="headers" [value]="rows" responsiveLayout="stack" 
    [globalFilterFields]="filters" [rows]="3" [paginator]="true" 
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.title | titlecase }}
            </th>
            <th *ngIf="buttons.length">
                Acciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <!--<div *ngIf="col.pipe === 'currency'">
                    {{data.values[col.field] | currency}}
                </div>-->
                {{col.currency ? (data.values[col.field] | currency) : data.values[col.field]}}
            </td>
            <td *ngIf="buttons.length">
                <button pButton label="{{ but.title }}"
                    *ngFor="let but of buttons"
                    icon="{{ but.icon }}"
                    (click)="sendData( data.values, but.functionType )"
                    class="{{ but.class }}" pTooltip="{{ but.tooltipText }}" tooltipPosition="top">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{rows ? rows.length : 0 }} entradas.
        </div>
    </ng-template>
</p-table>
