
<div class="navbar">
    <button pButton class="p-button-sm" icon="pi pi-bars" (click)="showSidebar()"></button>
    <span class="hidden md:inline-block">StockApp</span>
    <p-splitButton styleClass="p-button-outlined p-button-sm" 
        label="Marshall" icon="pi pi-user" [model]="userItems"></p-splitButton>
</div>


<p-sidebar [(visible)]="display" [title]="title">
    <!--<p-dropdown styleClass="mb-3" [style]="{ 'width': '100%'}" [options]="offices" [(ngModel)]="selectedOffice" 
        (onChange)="seleccion($event)" optionLabel="name"></p-dropdown>-->
    <p-menu [model]="sidebarItems" [style]="{'width':'100%'}"></p-menu>
</p-sidebar>