<div class="p-fluid grid">
    <h3 class="col-12 md:col-3">Productos</h3>
    <p-dropdown class="col-12 md:col-6" [options]="offices" [(ngModel)]="selectedOffice" 
        (onChange)="officeSelection($event)" optionLabel="name" name="selectedOffice"></p-dropdown>
</div>
 

<app-table [headers]="productColumns" [rows]="products" [buttons]="buttons" [filters]="productSearchFilter"
    (parentMethod)="getTableEvent($event)" (addMethod)="openAddDialog($event)"></app-table>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-toast></p-toast>

<p-dialog header="Formulario product" [modal]="true" [style]="{width: '550px'}"
    [(visible)]="dialogDisplay" [draggable]="false" [resizable]="false" [dismissableMask]="true">
    <form autocomplete="off"
        [formGroup]="productForm"
        (ngSubmit)="saveProduct()">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-12">
                <label for="name">Nombre</label>
                <input pInputText class="p-inputtext-sm"
                [ngClass]="fieldValid('name') ? 'p-inputtext-sm ng-dirty ng-invalid' : 'p-inputtext-sm'"
                formControlName="name"
                aria-describedby="name-help"
                type="text"
                id="name" required autofocus>
                <small id="name-help" class="p-error block" *ngIf="fieldValid('name')">
                    El nombre debe tener por lo menos 3 caracteres
                </small>    
            </div>
            <div class="field col-12 md:col-12">
                <label for="description">Descripcion</label>
                <textarea pInputTextarea class="p-inputtext-sm"
                formControlName="description"
                id="description"></textarea>  
            </div>
            <div class="field col-12 md:col-6">
                <label for="price">Precio</label>
                <p-inputNumber inputId="price" mode="currency" currency="USD" locale="en-US"
                    [ngClass]="fieldValid('price') ? 'p-inputtext-sm ng-dirty ng-invalid' : 'p-inputtext-sm'"
                    formControlName="price"
                    aria-describedby="price-help"
                    [min]="1">
                </p-inputNumber>
                <small id="price-help" class="p-error block" *ngIf="fieldValid('price')">
                    El precio es obligatorio
                </small>    
            </div>
            <div class="field col-12 md:col-6">
                <label for="stock">Stock inicial:</label>
                <p-inputNumber inputId="stock"
                    [ngClass]="fieldValid('stock') ? 'p-inputtext-sm ng-dirty ng-invalid' : 'p-inputtext-sm'"
                    formControlName="stock"
                    aria-describedby="stock-help"
                    [min]="0">
                </p-inputNumber>
                <small id="stock-help" class="p-error block" *ngIf="fieldValid('stock')">
                    El stock es obligatorio
                </small>    
            </div>
        </div> 
        <button icon="pi pi-check" pButton type="submit" 
                class="p-button-text" label="Guardar"></button>           
    </form>
</p-dialog>

<p-dialog header="Crear movimiento" [modal]="true" [style]="{width: '700px'}" 
    [draggable]="false" [resizable]="false" [dismissableMask]="false" [(visible)]="dialogMovement">


</p-dialog>